body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #f3f3f3;
}
body a {
  text-decoration: none;
  color: black;
}

header {
  background: #eaeae7;
  width: 80%;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a:hover {
  color: gray;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  margin: 5px;
  padding: 3px;
}
header section {
  display: flex;
  flex-wrap: nowrap;
}
header section .column-left {
  width: 50%;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header section .column-left .we-are-alasha-column {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header section .column-left .we-are-alasha-column h2 {
  width: 100%;
  font-size: 250%;
  margin: 0 0 0 40%;
}
header section .column-left .we-are-alasha-column h3 {
  margin: 0 0 0 42%;
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}
header section .column-left .we-are-alasha-column h4 {
  margin: 0 0 0 70%;
  width: 100%;
  font-size: 1rem;
}
header section .column-left .we-are-alasha-column h4 a:hover {
  color: gray;
}
header section .column-left .rows {
  margin-left: 45%;
  width: 100%;
  font-size: 2rem;
}
header section .column-left .rows a {
  color: gray;
}
header section .column-left .rows a:hover {
  color: black;
}
header section .column-right {
  width: 50%;
}
header section .column-right img {
  width: 100%;
}

.body-principal {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: white;
  align-items: center;
}
.body-principal .our-portafolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
}
.body-principal .our-portafolio h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.3rem auto;
  font-size: 2rem;
}
.body-principal .our-portafolio h3 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.3rem auto;
  color: gray;
  font-size: 1rem;
}
.body-principal .our-portafolio ul {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.3rem auto;
}
.body-principal .our-portafolio ul li {
  list-style: none;
  margin: 0.6rem;
}
.body-principal .our-portafolio ul li a {
  font-size: 1rem;
}
.body-principal .our-portafolio ul li a:hover {
  color: gray;
}
.body-principal .images {
  width: 80%;
  display: flex;
  margin-top: 3rem;
}
.body-principal .images div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.body-principal .images div img {
  width: 100%;
}
.body-principal .btn-loadmore {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.body-principal .btn-loadmore input {
  background: #333333;
  color: white;
  border: none;
  width: 8rem;
  padding: 1rem;
  border-radius: 5px;
}
.body-principal .btn-lets-work {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.3rem auto;
  display: block;
  flex-direction: column;
  margin-bottom: 3rem;
}
.body-principal .btn-lets-work h3 {
  margin-left: 25%;
  display: inline-block;
}
.body-principal .btn-lets-work input {
  background: #333333;
  color: white;
  border: none;
  width: 8rem;
  padding: 1rem;
  border-radius: 5px;
  width: 10rem;
  display: inline-block;
  margin-left: 25%;
}

footer {
  width: 80%;
  background: #333333;
}
footer .contactus {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
footer .contactus > div {
  width: 25%;
}
footer .contactus h3 {
  color: white;
}
footer .contactus h4 {
  color: gray;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
footer .contactus h4 a {
  color: gray;
}
footer .contactus h4 a:hover {
  color: white;
}
footer .contactus i {
  margin-left: 0.8rem;
  margin-top: 1rem;
  color: gray;
  font-size: 0.8rem;
}
footer .contactus i:hover {
  color: white;
}
footer .contactus .div-recent-post .div-row-one {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
footer .contactus .div-recent-post .div-row-one h3 {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.3rem;
}
footer .contactus .div-recent-post .div-row-one h4 {
  margin-top: 0;
}
footer .contactus .div-recent-post .div-row-two {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
footer .contactus .div-recent-post .div-row-two h3 {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.3rem;
}
footer .contactus .div-recent-post .div-row-two h4 {
  margin-top: 0;
}
footer .contactus .div-newlater {
  display: flex;
  flex-wrap: wrap;
}
footer .contactus .div-newlater h3 {
  width: 100%;
  margin-bottom: 0;
}
footer .contactus .div-newlater input {
  margin-top: 0;
  width: 60%;
  height: 15%;
}
footer .skull {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
footer .skull h4 {
  display: inline-block;
  width: 55%;
  color: gray;
}
footer .skull ul {
  width: 30%;
  display: inline;
  margin: 0;
}
footer .skull ul li {
  list-style: none;
  margin: 0.4rem;
  display: inline-block;
}
footer .skull ul li a {
  color: gray;
}
footer .skull ul li a:hover {
  color: white;
}

@media (max-width: 1090px) {
  footer .skull h4 {
    width: 25%;
  }

  .body-principal .btn-lets-work h3 {
    margin-left: 8%;
  }
}

/*# sourceMappingURL=estilos.css.map */
